<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ms-2" href="#">Public Library</a>
  
    <div class="justify-content-between d-flex w-100">
      <ul class="navbar-nav mt-1">
        <li class="nav-item active">
          <a class="nav-link" href="/Home">Search books</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Random book</a>
        </li>
        <li *ngIf="isAuth">
          <a class="nav-link"href="#"> My books</a>
        </li>
        <li *ngIf="isLibrarian">
          <a class="nav-link"href="#">Reservation</a>
        </li>
      </ul>
      



      <div *ngIf="!isAuth" class="mt-1 me-3">
        <a class="btn btn-outline-info my-2 my-sm-0 ms-1">Login</a>
        <a class="btn btn-info my-2 my-sm-0 ms-1 ms-2">Register</a>
      </div> 
      <div *ngIf="isAuth" class="mt-1 me-3">
        <a class="btn btn-outline-info my-2 my-sm-0 ms-1 ms-2">Logout</a>
      </div>

    </div>
  </nav>